.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
    
}
@media screen and (min-width:300px) {
    .grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
    
}
}