*{
    background-color: darkmagenta;
}
h3{
    background-color: cornsilk;
    font-size:50px;
    text-decoration-color: aquamarine;
    text-decoration-line: overline;
    text-transform: var(text-transform);
    margin-top: 80px;
}