*{
    margin: 0;
    padding: 0;
}
h3{
    background-color: cornsilk;
    font-size:50px;
    text-decoration-color: aquamarine;
    text-decoration-line: overline;
    text-transform: var(text-transform);
}